:root {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    --main-color: rgb(255, 113, 67);
    --light-main-color: rgba(255, 113, 67, 0.27);
    --dark-main-color: rgb(159, 57, 25);
    --text-color: rgb(105, 104, 113);
    --dark-text-color: rgb(25, 25, 27);
    --violet-color: rgb(84, 84, 212);
    --light-bg-color: rgb(248, 248, 248);
}

.header-bar,
.footer-bar {
    background-color: var(--light-main-color);
    padding: 38px 0 47px 0;
}

.center-cont {
    max-width: 1070px;
    margin: 0 auto;
}

.header-flex,
.footer-flex,
.hero-section,
.subs-section,
.cards-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    display: inline-block;
}

.navigation-item:not(:first-of-type) {
    margin-left: 49px;
}

.navigation-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    line-height: 1.33;
    /* identical to box height 20px*/
    letter-spacing: -0.468947px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--dark-text-color);
    transition: 300ms;
}

.btn {
    width: 215px;
    height: 60px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 17px;
    line-height: 1.29;
    /* 22px; */
    text-align: center;
    letter-spacing: -0.531474px;
    cursor: pointer;
    /* transition: 500ms; */
}

.orange-btn {
    background: var(--main-color);
    color: #fff;
}

.orange-btn:hover,
.orange-btn:focus {
    background: var(--dark-main-color);
    transition: 500ms;
}

.hero-section {
    margin: 105px auto 85px;
}

.hero-title {
    max-width: 467px;
    font-size: 80px;
    line-height: 0.96;
    /* or 77px*/
    letter-spacing: -2.50105px;
    color: var(--dark-text-color);
    margin-bottom: 30px;
}

.main-text {
    width: 464px;
    height: 90px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    /* or 30px*/
    letter-spacing: -0.625263px;
    color: var(--text-color);
    margin-bottom: 50px;
}

.violet-btn {
    background: var(--violet-color);
    color: #fff;
}
.violet-btn:hover,
.violet-btn:focus {
    border: 1px solid var(--violet-color);
    opacity: 0.5;
    transition: 500ms;
}

.blank-btn {
    background: #fff;
    color: var(--violet-color);
    border: 1px solid var(--violet-color);
    margin-left: 35px;
}

.blank-btn:hover,
.blank-btn:focus {
    color: #fff;
    background: var(--violet-color);
    opacity: 0.5;
    transition: 500ms;
}

.subs-section {
    margin: 85px auto;
}

.subscribe-title {
    font-size: 50px;
    line-height: 1.14;
    /* identical to box height, 57px*/
    letter-spacing: -1.56316px;
    color: var(--dark-text-color);
    margin-bottom: 38px;
}

.email-input-field {
    font-family: inherit;
    font-weight: inherit;
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding-left: 14px;
}

.email-input-field::placeholder {
    font-size: 17px;
    line-height: 1.29;
    letter-spacing: -0.531474px;
    color: #000;
}

.violet-btn[type="submit"] {
    margin-left: 39px;
}

.pricing-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    /* or 70px*/
    letter-spacing: -1.87579px;
    color: var(--dark-text-color);
    margin-bottom: 110px;
}

.pricing-card {
    width: 330px;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding-top: 34px;
    padding-bottom: 27px;
    /* text format */
    font-weight: 400;
    font-size: 17px;
    line-height: 2.94;
    /* or 50px*/
    letter-spacing: -0.531474px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 132px;
}

.pticing-card-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    /* identical to box height, 28px*/
    letter-spacing: -0.562737px;
    margin-bottom: 22px;
}

.prising-card-cost {
    font-size: 28px;
    line-height: 2;
    /* identical to box height, or 200% 56px*/
    letter-spacing: -1.03448px;
    color: rgb(29, 41, 63);
}

.prising-card-cost>span {
    font-size: 60px;
    line-height: 0.93;
    /* identical to box height, 56px*/
}

.pricing-card-btn {
    margin-top: 36px;
}

.pricing-card:hover {
    transition: 400ms;
    color: #fff;
    background: var(--main-color);
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.pricing-card:hover>.prising-card-cost {
    color: #fff;
}

.pricing-card:hover>.btn {
    background: var(--dark-main-color);
    color: #fff;
}
